{% extends "aulas.html" %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="breadcrumb-item">
        <a href="{% url 'cursos:aula_detalhes' curso.atalho aula.pk %}">{{ aula }}</a>
    </li>
{% endblock breadcrumb %}

{% block conteudo %}
<div class="card">
    <div class="card-header">
        <h4 class="card-title">{{ aula }}</h4>
        <div class="card-subtitle text-muted">
            <small>Atualizado há {{ aula.data_atualizacao|timesince }}</small>
        </div>
    </div>
    <div class="card-body">
        <p class="card_text">{{ aula.descricao|linebreaksbr }}</p>

        {% if questionario %}
        <h4><a href="{% url 'cursos:questionario' curso.atalho aula.pk %}">Questionário</a></h4>
        {% endif %}

        {% if aula.aula_ant %}
        <a href="{% url 'cursos:aula_detalhes' curso.atalho aula.aula_ant.pk %}" title="Aula anterior">
            <i class="fa fa-chevron-left float-left" aria-hidden="true"></i>
        </a>
        {% endif %}
        {% if aula.aula_prox %}
        <a href="{% url 'cursos:aula_detalhes' curso.atalho aula.aula_prox.pk %}" title="Próxima Aula">
            <i class="fa fa-chevron-right float-right" aria-hidden="true"></i>
        </a>
        {% endif %}
    </div>
</div>

<div class="card">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-video" aria-expanded="true" aria-controls="collapse-video">
        <div class="card-header" role="tab" id="heading-video">
            <h3 class="card-title">Vídeos<i class="fa fa-angle-down float-right" aria-hidden="true"></i></h3>
        </div>
    </a>
    <div id="collapse-video" class="collapse" role="tabpanel" aria-labelledby="heading-video">
        <ul class="list-group">
            {% for video in videos %}
            <a href="{% url 'cursos:video_detalhes' curso.atalho video.pk %}">
                <li class="list-group-item">
                    <h5>{{ video }}</h5>
                    <small>Última atualização em: {{ video.data_atualizacao }}</small>
                </li>
            </a>
            {% empty %}
            {% endfor %}
        </ul>
    </div>
</div>

{% if materiais_complementares %}
<div class="card">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-complementar" aria-expanded="true" aria-controls="collapse-complementar">
        <div class="card-header" role="tab" id="heading-complementar">
            <h5 class="mb-0">
                    Materiais Complementares
                    <i class="fa fa-angle-down float-right" aria-hidden="true"></i>
            </h5>
        </div>
    </a>
    <div id="collapse-complementar" class="collapse" role="tabpanel" aria-labelledby="heading-complementar">
        <div class="card-body">
            <ul class="list-group">
            {% for material in materiais_complementares %}
                <a href="{{ material.arquivo.url }}" target="_blank">
                    <li class="list-group-item">
                        {{ material.titulo }}
                        <small class="float-right">Atualizado há {{ material.data_atualizacao|timesince }}</small>
                    </li>
                </a>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endif %}

{% endblock conteudo %}
