{% extends user.is_authenticated|yesno:"painel.html,base.html" %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="breadcrumb-item"><a href="{{ curso.get_absolute_url }}">{{ curso.nome }}</a></li>

{% endblock breadcrumb %}

{% block conteudo %}
{% load widget_tweaks %}
<div class="container">
        <h1>{{ curso.nome }}</h1>
        <p class="lead">
            {{ curso.descricao }}
        </p>
        <p>
            Instrutor: {{ curso.instrutor }}
        </p>
        {{ curso.sobre|linebreaks }}

        {% comment %}
        <a href="" class="btn btn-primary btn-lg">Inscreva-se</a>
        {% endcomment %}
        <a href="{% url 'cursos:inscricao' curso.atalho %}" class="btn btn-primary btn-lg">Inscreva-se</a>
</div>
<div class="mt-5 container" id="contato">
    <form action="#contato" method="post">
        {% csrf_token %}
        <fieldset class="form-group" >
            <h3>Tire suas dúvidas sobre o curso</h3>
            {% for erro in formulario.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {{ erro }}
            </div>
            {% endfor %}

            {% if sucesso %}
            <div class="alert alert-success" role="alert">
                <p>Sua mensagem foi enviada com sucesso</p>
            </div>
            {% endif %}

            {% for campo in formulario %}
                {{ campo.label_tag }}
                {{ campo|add_class:"form-control"}}
                {% for erro in campo.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ erro }}
                    </div>
                {% endfor %}
            {% endfor %}
            <button type="submit" class="btn btn-primary mt-3">Enviar</button>
        </fieldset>
    </form>
</div>
{% endblock conteudo %}
