{% extends "aula_detalhes.html" %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="breadcrumb-item">
        <a href="{% url 'cursos:questionario' curso.atalho aula.pk %}">Questionário</a>
    </li>
{% endblock breadcrumb %}

{% block conteudo %}
<h4>Questionário</h4>
<div>
    <p>Este questionário possui {{ questoes.count }} quest{{ questoes.count|pluralize:"ão,ões" }}.</p>
    {% if ult_resposta %}
    <p>Você acertou {{ pontos }} quest{{ pontos|pluralize:"ão,ões" }}.</p>
    <p>Você respondeu este questionário em {{ ult_resposta.data_atualizacao }}.</p>
    {% endif %}
    <a href="{% url 'cursos:resposta' curso.atalho aula.pk questoes.first.pk %}">Iniciar questionário</a>
</div>

{% endblock conteudo %}
