{% extends "aula_detalhes.html" %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="breadcrumb-item">
        <a href="{% url 'cursos:questionario' curso.atalho aula.pk %}">Questionário</a>
    </li>
{% endblock breadcrumb %}

{% block conteudo %}
<h4>Questionário</h4>
<div>
    {% for alternativa in questao.alternativas.all %}
    <p>{{ alternativa }}</p>
    <br />
</div>
{% empty %}
<p>Nenhuma questão foi encontrada para este curso</p>
{% endfor %}

<form class="form-signin" method="POST">
    {% csrf_token %}
    {% for questao in questoes %}
    <fieldset class="form-group">
        <h2 class="form-signin-heading">{{ questao }}</h2>
        {% for erro in formulario.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {{ erro }}
                {# formulario.non_field_errors.as_text #}
            </div>
        {% endfor %}

        {% for campo in formulario %}
            {{ campo.label_tag }}
            {{ campo|add_class:"form-control" }}
            {% for erro in campo.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ erro }}
                </div>
            {% endfor %}
        {% endfor %}

    </fieldset>
    {% endfor %}
    <button class="btn btn-lg btn-primary btn-block mt-4" type="submit">Cadastrar</button>
</form>

{% endblock conteudo %}
