{% extends "painel.html" %}

{% block conteudo %}

<div class="list-group">
    {% for curso in cursos %}
    <a data-toggle="collapse" href="#collapse-usuario{{ curso.pk }}" class="list-group-item list-group-item-action bg-secondary text-white" aria-expanded="true" aria-controls="collapse-curso{{ curso.pk }}">
        <h6 class="d-flex justify-content-between align-items-center">
            {{ curso }}
            <span class="badge badge-primary badge-pill">
                {{ curso.inscricoes.count }}
            </span>
            <!-- <i class="fa fa-angle-down float-right"></i> -->
        </h6>
    </a>
    <div id="collapse-usuario{{ curso.pk }}" class="collapse">
        <div class="list-group mx-2">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Usuário</th>
                        <th scope="col">Nota</th>
                        <th scope="col">Vídeos</th>
                        <th scope="col">Situação</th>
                    </tr>
                </thead>
                <tbody>
                    {% for inscricao in curso.inscricoes.all %}
                    <tr>
                    <!-- <div class="list-group-item">
                        {{ inscricao.curso }}
                    </div> -->
                        <th scope="row">{{ inscricao.usuario.get_full_name }}</th>
                        <td>{{ inscricao.pontuacao_curso }}%</td>
                        <td>{{ inscricao.videos_finalizados }}%</td>
                        <td>{{ inscricao.get_status_display }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock conteudo %}
{% block javascript %}
{{ block.super }}
<script>
    $("#relatorios").addClass("show");
</script>
{% endblock %}
