{% extends "painel_curso.html" %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="breadcrumb-item"><a href="{% url 'forum:home' curso.atalho %}">Fórum</a></li>
{% endblock breadcrumb %}

{% block conteudo %}
<div class="container">
    <div class="list-group">
        <h3 class="mx-2">Anúncios</h3>
        {% for topico in object_list %}
        <div class="list-group-item">
            <h4><a href="">{{ topico.titulo }}</a></h4>
            <div class="mb-3">
                <small>Última atualização em: {{ topico.data_atualizacao }}</small>
            </div>
            {{ topico.mensagem|linebreaks }}
            <p><a href=""><i class="fa fa-comments-o"></i>
                {% with total_respostas=topico.respostas.count %}
                {{ total_respostas }} comentário{{ total_respostas|pluralize }}
                {% endwith %}
            </a></p>
        </div>
        {% empty %}
        <div class="list-group-item">
            <h4>Nenhum anúncio encontrado</h4>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock conteudo %}


{% block menu_painel %}
{% endblock menu_painel %}
